/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

.tym {
	display: flex;
	flex-direction: column;

}

.osoba img {
	border-radius: 50%;
}



.osoba {
	flex-wrap: wrap;
	border: 1px solid gray;
	margin: 20px;
	padding: 20px;
	flex-basis: calc( 100% / 4);
	text-align: center;

}